.env
.DS_Store
temp/**
.gemini/settings.json


app/backend/vendor
app/backend/static.min
app/frontend/node_modules

services/researcher/vendor
services/researcher/.adk

code/app/db/user.sql
code/app/backend/vendor
code/app/backend/static.min
code/app/frontend/dist
code/app/frontend/node_modules
code/config/navallog-sa.json
code/services/researcher/researcher
code/services/researcher/vendor

code/app/frontend/vite.config.js.timestamp-*.mjs

code/app/backend/navalplan-backend
code/services/researcher/navalplan-agent
code/services/researcher/.adk/
code/services/researcher/__pycache__/
agent.pid
code/services/researcher/__init__.py
code/services/researcher/agent.py
.bin/cloud-sql-proxy
.bin/migrate
code/app/backend/app
