.env
.DS_Store
temp/**
.gemini/settings.json


app/backend/vendor
app/backend/static.min
app/frontend/node_modules

services/researcher/vendor
services/researcher/.adk

code/app/db/user.sql
code/app/backend/vendor
code/app/backend/static.min
code/app/frontend/dist
code/app/frontend/node_modules
code/config/navallog-sa.json
config/navallog-sa.json
config/*.json
code/services/researcher/researcher
code/services/researcher/vendor

code/app/frontend/vite.config.js.timestamp-*.mjs

code/app/backend/navalplan-backend
code/services/researcher/navalplan-agent
code/services/researcher/.adk/
code/services/researcher/__pycache__/
agent.pid
code/services/researcher/__init__.py
code/services/researcher/agent.py
.bin/cloud-sql-proxy
.bin/migrate
code/app/backend/app
code/app/backend/scratch/trigger_telemetry.py
code/services/researcher/eval/__pycache__/*
code/services/researcher/eval/results/*
code/services/researcher/researcher-service
agent.log
code/services/researcher/eval_temp_specialist/*
artifacts/grade_results/*
venv/
.venv/
