app/db/user.sql
app/backend/vendor
app/backend/static.min
app/frontend/dist
app/frontend/node_modules
config/navallog-sa.json
services/researcher/researcher
services/researcher/vendor
.env
app/backend/navalplan-backend
.gemini/settings.json
services/researcher/navalplan-agent
.DS_Store
